// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

.cke_chrome {
  width: 79.5% !important;
  overflow: hidden;
}

.phone {
  background-image: image-url('story_detail_bg.png');
  background-repeat: no-repeat;
  color: #fff;
  font-family: 'Roboto';
  font-size: 20px;
  line-height: 110%;
  min-height: 580px;
  padding: 110px 20px 5px 20px;
  width: 360px;
  h3 {
    color: #fff;
    font-family: 'Roboto';
  }
  .img {
    background-size: 350px 278px;
    border-radius: 10px;
    height: 200px;
    margin: 0 0 25px 9px;
    width: 350px;
  }
}